<!DOCTYPE html>
<html>
  <head>
    <title>Jitsi Meet Example</title>
    <script src="https://meet.jit.si/external_api.js"></script>
  </head>
  <body>
    <div id="meet"></div>

    <script>
      // Función para obtener el valor de un parámetro en la URL
      function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      var domain = "meet.jit.si";
      var roomName = "testroom";

      // Obtener el token del parámetro 'token' en la URL
      var token = getQueryParam("token");

      var options = {
        roomName: roomName,
        width: 500,
        height: 500,
        interfaceConfigOverwrite: { filmStripOnly: false },
        parentNode: document.querySelector("#meet"),
        userInfo: {
          // Asignar el token recuperado desde la URL
          token: token,
        },
      };

      var api = new JitsiMeetExternalAPI(domain, options);

      // Lógica para desactivar la cámara, el micrófono y el compartir pantalla del cliente
      // Aquí asumimos que el cliente tiene el rol de 'client'
      if (token && token === "client") {
        // Desactivar la cámara al inicio de la llamada
        api.executeCommand("toggleVideo");

        // Desactivar el micrófono al inicio de la llamada
        api.executeCommand("toggleAudio");

        // También puedes deshabilitar el botón de cámara y micrófono para que el cliente no pueda encenderlos
        api.executeCommand("toggleVideoDisabled", true);
        api.executeCommand("toggleAudioDisabled", true);

        // Desactivar el botón de compartir pantalla para que el cliente no pueda compartir su pantalla
        api.executeCommand("toggleShareScreen", false);
      }
    </script>
  </body>
</html>
