<!DOCTYPE html>
<html>
  <head>
    <title>Jitsi Meet Example</title>
    <script src="https://meet.jit.si/external_api.js"></script>
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      #meet {
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="meet"></div>

    <script>
      // Función para obtener el valor de un parámetro en la URL
      function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      var domain = "meet.jit.si";
      var roomName = "testroom";

      // Obtener el token del parámetro 'token' en la URL
      var token = getQueryParam("token");

      var options = {
        roomName: roomName,
        width: "100%",
        height: "100%",
        interfaceConfigOverwrite: { filmStripOnly: false },
        configOverwrite: { startWithVideoMuted: token && token === "client" },
        parentNode: document.querySelector("#meet"),
        lang: "es",
      };

      var api = new JitsiMeetExternalAPI(domain, options);
    </script>
  </body>
</html>
